<h3>Neue Begegnung</h3>

<%= form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <p style="text-align:center;"><%= submit_tag "Erstellen" %></p>
<% end %>

<%= link_to 'Zurück zur Liste', :action => 'list' %>
