body {
  font-family: verdana, "Lucida Grande", arial, helvetica, sans-serif;
  text-align: center;  /* Zentrierung im Internet Explorer */
  font-size:14px;
  margin-top: 1em;
  background: white;
}

a img { border: none; }

a { 
  text-decoration: none;
  color: brown;
  font-weight: bold;
  padding: 1px;
}

a:visited { 
  color: brown;
  font-weight: bold;
}

a:hover { 
  color: brown;
  background: #ffdca5;
}

#container {
  width:900px;
  margin:0 auto;
  text-align:left;
}

#sidebar {
  position: absolute;
  width: 270px;
  margin:0;
  padding:0;
}

#content {
  position: absolute;
  width: 600px;
  margin-left: 300px;
}

#sidebar h3 { 
  background: brown;
  color: white;
  margin: 0;
}

h1,h2,h3,h4,h5,h6 { 
  text-align:center;
}

#quickscore {
  font-size: 12px;
  margin: 0.5em 0 1em;
  padding: 0;
  background: lightyellow;
  border: 1px solid silver
}

#quickscore table {
  text-align:left;
  margin: auto;
  border-spacing: 0.5em;
}

#info {
  font-size: 12px;
  margin: 0.5em 0 1em;
  padding: 0;
  background: lightyellow;
  border: 1px solid silver
}

#info p { 
  margin: 0.7em 0.6em;
  clear: left;
}

ul#navigation {
  font-size: 0.91em;
  margin: 0.5em 0 1em;
  padding: 0;
  text-align: center;
  background: lightyellow;
  border: 1px solid silver;
}

ul#navigation li {
  list-style: none;
  margin: 0.3em;
  padding: 0.1em;
}

ul#navigation a {
  display: block;
  font-weight: bold;
  padding: 0.1em;
}

ul#navigation a:link, ul#navigation a:visited  {
  color: black;
}

ul#navigation a:hover {
  color: white; background-color: brown;
}

ul#navigation a:active {
  color: white; background-color: gray;
}

.pagerNavigation { 
margin: 1em 0;
}

.fieldWithErrors {
  background-color: red;
  display: table;
  float: left;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#navibar {
    display: block;
    margin: 0;
    padding: 0 10px;
    font-size: 0.82em;
    zoom: 1; /* for avoiding a gap between navibar and pageline on IE */
}

#navibar li {
    float: left;
    display: inline;
    margin: 2px 2px 0px;
    border: 1px solid black;
    border-bottom: none;
    white-space: nowrap;
    background: brown;
    color: white;
    font-weight: bold;
    padding: 1px 0px;
}

#navibar a, #navibar a:visited {
    background: lightyellow;
    color: black;
    text-decoration: none;
    padding: 1px 2px;
}

#navibar a:hover {
    background: brown;
    color: white;
}

#navibar a.speciala, #navibar a.speciala:visited {
    background: #ffdddd;
}

#navibar a.speciala:hover {
    background: brown;
    color:white;
}

#navibar a.specialb, #navibar a.specialb:visited {
    background: lightgreen;
}

#navibar a.specialb:hover {
    background: green;
    color:white;
}

#pageline {
    clear: both;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    width: 100%;
    /* sync these values, line-height is needed for IE */
        height: 4px;
        line-height: 4px;
    border-bottom: 1px solid black;
    background: brown;
}

table.matches
{ 
  font-size: 12px;
  border: 1px solid silver;
  border-collapse: collapse;
  margin: auto;
  background: lightyellow;
}

table.matches th
{
  background: brown;
  color: white;
  padding: 2px;
}

table.matches tr,
table.matches th,
table.matches td
{ 
  border-top: 1px solid silver;
  padding: 3px 10px;
  white-space: nowrap;
}

td.betsformatch { 
  white-space: normal;
}

table#scoreboard { 
  font-size: 12px;
  margin: auto;
  border-collapse: collapse;
  border: 1px solid brown;
}

table#scoreboard tr.odd { 
  background: lightyellow;
}

table#scoreboard tr.even { 
  background: #f8f8cc;
}

table#scoreboard td, table#scoreboard th { 
  padding: 2px 5px;
}

table#scoreboard th {
  background: brown;
  color: white;
}

p.notice
{ 
  background: darkgreen;
  color: white;
  font-weight: bold;
  padding: 2px;
  text-align: center;
}

td#score { 
  font-weight: bold;
  padding: 2px;
}

span#betsformatch {
  display:block;
  float:left;
  padding: 1px;
  margin: 1px;
  margin-right: 0.3em;
}

.open {
  background: #eeeeee;
}

.wrong { 
/*  background: white;  */
  background: #e50000;
  color: white;
}

.tendency { 
/*  background: #fffbd1; */
  background: #fff770;
}

.correct { 
/*  background: #d9ffcc; */
  background: #1a9100;
  color: white;
}

#halloffame {
  font-size: 12px;
  margin: 0.5em 0 1em;
  padding: 0;
  background: lightyellow;
  border: 1px solid silver;
}

.hofpic { 
  width: 60px;
  border: 1px solid gold;
}

.change_0 { color: red; }
.change_1 { color: #ff8040; }
.change_3 { color: green; }

#comment {
  width: 550px;
  margin: 1em auto;
}

#comment div.header {
  font-size: 11px;
  background: #f1f1c6;
  padding: 0.2em;
  margin: 0em;
}

#comment div.body {
  font-size: 10px;
  background: lightyellow;
  padding: 0.2em;
  margin-top: 0px;
}

#comment p {
  padding: 0;
  margin: 0.4em 0.3em;
}

.pagination {
  text-align: center;
}
